DIRECTORY=dist
HTML_CACHE=max-age=60,public
ASSETS_CACHE=max-age=31536000,public,immutable

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_S3_BUCKET=s3://bucket-name/folder/
AWS_CLOUD_FRONT_DISTRIBUTION_ID=